@media screen and (max-width: 750px) {
  .Portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }
  .increment {
    margin-top: 3em;
  }
}

.Portfolio {
  margin-bottom: 8%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    background-color: rgba(255,255,255,0);
    width: 15%;
  }

  img {
    width: 100%;
    padding: 0;
  }

  .blob {
    position: absolute;
    width: 22%;
    right: 58%;
    z-index: -1;
  }
}