.AboutMe {
  display: flex;
  justify-content: space-between;
  height: 500px;
  margin-top: 5%;
  width: 100vw;

  h2 {
    font-family: Source Sans Pro;
    font-weight: 600;
  }

  p {
    font-family: Source Sans Pro;
    font-weight: 300;
  }

  img {
    height: 400px;
    border-radius: 3px;
  }
}

.paragraphSection {
  width: 30vw;
  margin-left: 5%;
  margin-top: 5%;

   img {
    margin-bottom: 0;
    width: 40%;
    height: 40%;
   }
}

.imagesSection {
  margin-right: 5%;
  width: 50vw;
  position: relative;
  height: 10em;
}

.firstImage {
  position: absolute;
  left: 40%;
}

.secondImage {
  position: absolute;
  left: 10%;
}

.whoAmI {
  display: flex;
  flex-direction: row;
  align-items: center;
}