@media screen and (max-width: 750px) {
  .Contact {
   width: 100vw;
   .whoami {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      width: 100vw;
      h3, a {
        font-size: 1em;
      }
    }
   }
  }
}

@media screen and (max-width: 400px) {
  .box {
    flex-direction: column;
   }
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 6em;

.wrapper {
  margin-top: 1em;
  padding: 1.5rem 0;
  filter: url('#goo');
  text-align: center;
}

p {
  display: inline-block;
  text-align: center;
  background: black;
  color: #eee;
  font-weight: bold;
  padding: 1.18em 1.75em 1.18em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  text-decoration: none;
  font-family: Pacifico;
  font-size: 1.0rem;
  border: none;
}

p:before,
p:after {
  width: 4.0em;
  height: 2.75em;
  position: absolute;
  content: "";
  display: inline-block;
  background: black;
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

p:before {
  top: -25%;
  left: 20%;
}

p:after {
  bottom: -25%;
  right: 20%;
}

p:hover:before,
p:hover:after {
  transform: none;
}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  h2 {
    font-family: Source Sans Pro;
    margin-right: 1.5%;
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;

    a {
      font-family: lora;
      color: black;
      text-decoration: none;
      margin-bottom: 0.5em;
    }

    a:hover {
      font-weight: 700;
      color: #ffb620;
    }
  }

}



}