.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  nav {
    display: flex;
    margin-right: 10%;
  }

  li {
    list-style: none;
    font-family: Source Sans Pro;
    font-weight: 300;
    margin-left: 2em;
  }

  h1 {
    margin-left: 8%;
    font-family: Lora;
    font-size: 3em;
    line-break: auto;
  }
}