@media screen and (max-width: 750px) {
  .PortfolioItems {
    width: 100vw;
    display: flex;
    flex-direction: column;

    img {
      margin-top: 2em;
    }

    h3 {
      margin-bottom: 2em;
    }

    .links {
      margin-top: 2em;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 750px) {
  .PortfolioItems {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
}

.PortfolioItems {
  align-items: center;
  justify-content: center;
  margin-right: 0;

  img {
    background-color: rgba(255, 185, 178, 0.25);;
    border-radius: 50%;
    padding: 2em;
    width: 18%;
  }

  .textSection {
    margin-left: 5%;
    width: 50%;
    font-family: Source Sans Pro;

    a {
      text-decoration: none;
      margin-right: 1em;
      color: #ffb620;
      font-weight: 700;
      text-transform: uppercase;
    }

    a:hover {
      color: white;
      background-color: black;
      padding: 0.75em;
      border-radius: 15px 50px 30px 5px;
    }

     h1 {
      font-size: 2em;
      color: #eb4d1a;
     }

     h3 {
       color: #ffb9b2;
       font-weight: 400;
       letter-spacing: 0.25em;
     }

     h4 {
       font-size: 1.5em;
       margin: 0;
     }

     p {
       color: #ffb620;
       font-weight: 700;
     }
  }
}